*{
  margin: 0;
  padding: 0;
 
}

::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {

  background: #000;

}



.div1  {
  width: 100%;
  height: 100vh;
  display: flex;
  background: #000;
  justify-content: space-evenly;
  align-items: center;
}
h1{
  font-size: 150px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.count{
  font-size: 400px;
  font-family: Arial, Helvetica, sans-serif;
}
.ran{
  width: 100%;
  height: 100vh;
  display: flex;
  background: #000;
  flex-direction: column;
 align-items: center;
 
}
button{
  width: 300px;
  height: 100px;
  background: #000;
  outline: 0;
  margin: 0;
  border: 2px solid white ;
  color: white;
  font-size: 70px;
}

@media only screen and (max-width: 375px) {
  .div1  {
    width: 100%;
    height: 100vh;
    display: flex;
    background: #000;
    justify-content: space-evenly;
    align-items: center;

  }


    h1{
  font-size: 150px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.count{
  font-size: 200px;
  font-family: Arial, Helvetica, sans-serif;
}
.ran{
  width: 100%;
  height: 100vh;
  display: flex;
  background: #000;
  flex-direction: column;
 align-items: center;
 
}
button{
  width: 200px;
  height: 100px;
  background: #000;
  outline: 0;
  margin: 0;
  border: 2px solid white ;
  color: white;
  font-size: 50px;
}


  }

  @media only screen and (max-width: 425px) {
    .div1  {
      width: 100%;
      height: 100vh;
      display: flex;
      background: #000;
      justify-content: space-evenly;
      align-items: center;
  
    }
  
  
      h1{
    font-size: 150px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }
  .count{
    font-size: 200px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .ran{
    width: 100%;
    height: 100vh;
    display: flex;
    background: #000;
    flex-direction: column;
   align-items: center;
   
  }
  button{
    width: 200px;
    height: 100px;
    background: #000;
    outline: 0;
    margin: 0;
    border: 2px solid white ;
    color: white;
    font-size: 50px;
  }
  
  
    }